<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXBXngJykDYM08YNlgayx72Bv8Wnd9ci4</string>
	<key>GCM_SENDER_ID</key>
	<string>604318905316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authenticationApp</string>
	<key>PROJECT_ID</key>
	<string>activity13-authentication</string>
	<key>STORAGE_BUCKET</key>
	<string>activity13-authentication.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604318905316:ios:22a2f6c731aa7291b20df1</string>
</dict>
</plist>